<div class="container">
  <h1 class="mb-4">Registrar Empleado</h1>
  <form id="registroEmpleadoForm" class="mx-auto">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" required>
    </div>
    <div class="mb-3">
      <label for="apellido" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="apellido" required>
    </div>
    <div class="mb-3">
      <label for="dni" class="form-label">DNI</label>
      <input type="text" class="form-control" id="dni" required pattern="\\d+">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" required>
    </div>
    <button type="submit" class="btn btn-primary w-100 btn-azul">Registrar Empleado</button>
  </form>
  <div id="mensajeResultado" class="mt-3 text-center"></div>
</div>
