{% extends 'base/base.html' %}
{% load static %}

{% block title %}Mis Reservas{% endblock %}

{% block content %}
<div class="container pt-4" style="margin-top: 70px;">
  <h2 class="mb-4">Mis Reservas</h2>
  {% if reservas %}
    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th>N° Reserva</th>
            <th>Inmueble</th>
            <th>Fecha de llegada</th>
            <th>Fecha de salida</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for reserva in reservas %}
          <tr>
            <td>
              #{{ reserva.id_reserva }}
            </td>
            <td>
              {% if reserva.inmueble %}
                {{ reserva.inmueble }}
              {% elif reserva.cochera %}
                {{ reserva.cochera }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>{{ reserva.fecha_inicio|date:"d/m/Y" }}
                {% if reserva.cochera %} - {{ reserva.fecha_inicio|time:"H:i" }} {% endif %}
            </td>
            <td>{{ reserva.fecha_fin|date:"d/m/Y" }}
                {% if reserva.cochera %} - {{ reserva.fecha_fin|time:"H:i" }} {% endif %}
            </td>
            <td>
              <span class="badge 
                {% if reserva.estado.nombre == 'Confirmada' %}bg-success
                {% elif reserva.estado.nombre == 'Cancelada' %}bg-danger
                {% elif reserva.estado.nombre == 'Rechazada' %}bg-secondary
                {% elif reserva.estado.nombre == 'Pagada' %}bg-info
                {% elif reserva.estado.nombre == 'Aprobada' %}bg-primary
                {% elif reserva.estado.nombre == 'Pendiente' or reserva.estado.nombre == 'Concurrente' %}bg-warning
                {% elif reserva.estado.nombre == 'Finalizada' %}bg-dark
                {% else %}bg-warning{% endif %}">
                {% if reserva.estado.nombre == 'Concurrente' %}Pendiente{% else %}{{ reserva.estado.nombre }}{% endif %}
              </span>
            </td>
            <td>
              <a href="{% url 'ver_detalle_reserva' reserva.id_reserva %}" class="btn btn-outline-primary btn-sm">
                <i class="bi bi-eye"></i> Ver Detalles
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="alert alert-info">No tienes reservas registradas.</div>
  {% endif %}
</div>
{% endblock %}