/* =========== global =========== */

:root {
  --color-azul-alquiler: #005A87;
  --color-naranja-alquiler: #F26A1B;

  --color-azul-hover: #004466;     /* Más oscuro que el azul original */
  --color-naranja-hover: #d85b17;  /* Más oscuro que el naranja original */
}

.btn-azul {
  background-color: var(--color-azul-alquiler);
  color: white;
  border-color: lightgrey;
  transition: background-color 0.3s ease;
}

.btn-azul:hover {
  background-color: var(--color-azul-hover);
  border-color: lightgrey;
}

.btn-naranja {
  background-color: var(--color-naranja-alquiler);
  color: white;
  border-color: lightgrey;
  transition: color 0.3s ease;
}

.btn-naranja:hover {
  background-color: var(--color-naranja-hover);
  border-color: lightgrey;
}

/* =========== navegación =========== */

.navbar {
  height: 70px;
}

.navbar__container {
  height: 70px;
}

.navbar__icon {
  height: 40px;
}

.navbar__search {
  max-width: 600px;
}

/* =========== navegación - barra de busqueda =========== */

.search__select {
  max-width: 150px
}

.search__button {
  border-color: grey;
  color: grey;
}

.search__button:hover {
  background-color: var(--color-azul-alquiler);
  border-color: grey;
  color: white;
}

/* =========== navegación - botones =========== */

.buttons_notification:hover {
  background-color: var(--color-azul-alquiler);
  border-color: grey;
  color: white;
}

.buttons_user:hover {
  background-color: var(--color-naranja-alquiler);
  border-color: grey;
  color: white;
}

/* =========== cosas =========== */

.block {
    display: block;
}
.none {
    display: none;
}

/* Estilo adicional para el contenedor de vista previa */
#vista-previa-imagenes {
  display: none; /* Oculto por defecto */
  flex-wrap: wrap;
  gap: 15px;
}

.alert-auto-close {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    min-width: 300px;
    text-align: center;
    animation: fadeOut 5s forwards;
    animation-delay: 3s;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}