{% extends 'admin/admin_base.html' %}
{% load static %}

{% block title %}Registro de Empleados | Panel Admin{% endblock %}

{% block admin_content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Registrar Empleado</h1>
</div>

<div class="card shadow-sm">
  <div class="card-body">
    {% if mensaje %}
      <div class="alert alert-success text-center">{{ mensaje }}</div>
    {% endif %}
    {% if error %}
      <div class="alert alert-danger text-center">{{ error }}</div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_first_name" class="form-label">Nombre</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
      </div>
      <div class="mb-3">
        <label for="id_last_name" class="form-label">Apellido</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
      </div>
      <div class="mb-3">
        <label for="id_dni" class="form-label">DNI</label>
        {{ form.dni }}
        {{ form.dni.errors }}
      </div>
      <div class="mb-3">
        <label for="id_email" class="form-label">Email</label>
        {{ form.email }}
        {{ form.email.errors }}
      </div>
      <button type="submit" class="btn btn-primary w-100 btn-azul">Registrar Empleado</button>
    </form>
  </div>
</div>
{% endblock %}